.Chat-main
  .Chat-main__top
    .top-items
      .top-items__name
        = @group.name
      %ul.top-items__members-list 
        Member : 
        %li.top-items__member
        - @group.users.each do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group) ,class:"top-items__edit"
  .Chat-main__message
    = render @messages
  .Chat-main__form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .left-form
        = f.text_field :content, class: 'left-form__content', placeholder: 'type a message'
        = f.label :image, class: 'left-form__icon' do
          = icon('far', 'image', class: "left-form__icon__btn")
          = f.file_field :image, class: 'left-form__icon__file'
      = f.submit 'Send', class: 'submit'

  -# .Chat-main__form
  -#   %form.form
  -#     %input.hidden{type: "hidden"}
  -#     .left-form
  -#       %input.left-form__content{placeholder: "type a message",type: "text"}
  -#       %label.left-form__icon
  -#         = icon('far', 'image',class: "left-form__icon__btn")
  -#         %input.left-form__icon__file{type: "file" }
  -#     %input.submit{value: "Send", type: "submit"}

  -# .Chat-main__form
  -#   = form_with class: "Chat-main__form"
  -#     .left-form
  -#       = text_field :content, class: 'left-form__content' placeholder: 'type a message'
  -#       = label :image, class: 'left-form__icon' do
  -#         = icon('far', 'image', class: "left-form__icon__btn")
  -#         = file_friend :image, class: 'left-form__icon__file'
  -#       = submit 'Send', class: 'submit'


