.Side-bar
  .Side-bar__top
    .top-items
      .top-items__name
        = current_user.name
      %ul.top-items-list
        %li.top-items__icon
          = link_to new_group_path do
            = icon('far','edit')
        %li.top-items__icon
          = link_to edit_user_path(current_user) do
            = icon('fas','cog')
  .Side-bar__group
    - current_user.groups.each do |group|
      .group-top
        = link_to '#' do
          .group-top__name
            = group.name
          .group-top__message
            まだメッセージがありません。